<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>
<% if @pin.user == current_user %>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pin_path(@pin) %></button> |
<% end %>
  <button type="button" class="btn btn-default"><%= link_to 'Back', pins_path %></button>
</div>