<div class="jumbotron">
    <h1>About me...</h1>
    <p>Hi, i'm Mishka and i'm an perfect example of verry cheerful and friendly dog. As a proof of my friendly personality have a look at some pictures taken by my owners :)</p>
    <%= link_to 'Main page', root_path, class: 'btn btn-primary btn-lg' %> 
</div>